<table class='center_table'><tr><td>
	<div class='hero-unit span8' style='padding:30px;'>
	
	<div class='center_text'>
			<h1>Osprey Point Capital</h1>
	</div>
<br>
	<div class='center_text'>
			<%= image_tag('fish_hawk.jpg', :class => "img-polaroid", :size => '300x200') %>
	</div>
	<br>
	<h2 class='center_text'>Focused on growth and profitability</h2>

	</div>
	<br>
	
</td></tr></table>

</div>
