<div class='hero-unit' style='padding:30px;'>
	
<div class='center_text'>
		<h1>Osprey Point Capital</h1>
</div>

<br>
<div class='center_text'>
		<%= image_tag('fish_hawk.jpg', :class => "img-polaroid", :size => '300x200') %>
</div>

</div>

<table class='center_table'><tr><td>
	<div class='row'>
		<div class='span7'>
<h2>Focused on growth and profitability</h2>
<p>In collaboration with our clients we analyze, prioritize and navigate the opportunities and challenges on the road to financial success. Let us help you develop a strategy for your business that will give you a competitive advantage. Specializing in Developing</p>
		</div>
	</div>
</td></tr></table>

</div>
